<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Python X Flask X Vue Template Site</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> Python X Flask X Vue </h1>
    <p> This site is a template site to show
      integration between Python, Flask, and Vue.
      See the simple Vue app below. </p>

    <div id="app">
      <div v-for="image in images" class="image-container">
        <img class="thumbnail" :src="'{{url_for('static', filename='')}}img/input/' + image">
      </div>
    </div>
    {% endblock %}

    {% block scripts %}
      <script type="text/javascript" src="{{ url_for('static', filename='js/app.vue.js') }}"></script>
    {% endblock %}
  </body>
</html>
